aiohttp
cchardet
uvloop
urllib3

jsonrpcclient
jsonrpcserver

rdflib
pyaml

# For some reason jsonrpcclient is using this even though we are using the aiohttp implementation - perhaps under the covers?
requests
