aiohttp
cchardet
aiodns
aiohttp_jinja2
aiohttp_debugtoolbar
aiobotocore
aiohttp-devtools
aiohttp-swagger[performance]
aiohttp-session[secure]
jsonrpcclient[aiohttp]
jsonrpcserver[aiohttp]
semver

uvloop

colorlog

pytest-aiohttp
pytest-cov
pytest
tox

rdflib
urllib3
requests
sphinx
